:root {
    /* Set up colour schemes */
    --navbar-bg-colour: white;
    --body-background-colour: #cbfcca;
    --navbar-text-colour: black;
    --body-text-colour: #3a3a3a;
}

nav.bg-color-navbar {
    background-color: var(--navbar-bg-colour);
}

nav.bg-color-navbar .navbar-brand {
    color: var(--navbar-text-colour);
    background-image: url("/static/logo.svg");
}

nav.bg-color-navbar .nav-link {
    justify-self: right;
    color: var(--navbar-text-colour);
}

button.navbar-toggler i {
    color: var(--navbar-text-colour);
      position: absolute;
}

div.body-container {
    /* Set up container to contain 100% of the page outside of the navbar */
    position: absolute;
    min-height: 100%;
    overflow-x: hidden;
    width: 100%;
    color: black;


    /* Center all elements in the body */
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    text-justify: inter-word;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif
}



/* Set up input for login forms */
form div.field {
    padding: 5px 25%;
}

.navbar-nav {
    justify-content: space-between;
    padding: 0 2.5%;
    width: 100%;
}

.navbar-nav li a:hover {
    color: #1abc9c;
}

/* woods video */
.top-content {
    padding: 210px 0;

    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.top-content .text {
    color: white;
}

.top-content .text h1 {
    margin-top: 25px;
    color: white;
   text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
   padding-top: 30px;
   font-size: 70px;
   font-weight: 700;
   text-align: center;
   font-family: 'Source Sans Pro', sans-serif;
}
/* first video text */
.top-content .description {
    margin: 30px 0 10px 0;
    font-size: 17px
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .top-big-link {
    margin-top: 45px;
}

/* second video text QUOTE */
.top-content .description2 {
    font-size: 20px;
    font-style: italic;

}

/* log in / sign up buttons on home page */

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 0 28px;
    background: rgba(89, 182, 97, 0.7);
    border: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}
 .btn-link-2 {
     display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 0 28px;
    background: rgba(89, 182, 97, 0.7);
    border: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
 }

.btn-link-1:hover {
    background: rgb(140, 231, 118);
    outline: 0;
    color: #fff;
    box-shadow: none;
}
.btn-link-2:hover {
    background: rgb(140, 231, 118);
    outline: 0;
    color: #fff;
    box-shadow: none;
}

/* About us */

.services {
    padding-top: 50px;
}
.services-explain{
    padding-top: 30px;
}
.services-box {
    padding-top: 50px;
    text-align: left;
}
.services-box .services-box-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    font-size: 40px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    border-radius: 28px;
    background: -webkit-linear-gradient(top, #8ce776 0%, #558846 100%);
}

.services-graph {
    margin-top: 50px;
}


.services-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
}
/* monkey video text */
.bottom-content {
    font-size: 16px;
    padding: 210px 0;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    color: #fff;
}
.section-description-climate {
    margin-top: 20px;
    margin-bottom: 20px;
}
.climate-explain {
    text-align: justify;
}

/* contact us */
.contact-us {
    text-align: center;
    margin-top: 40px;
}

/* donate page */
.donate-how\? {
    font-size: 20px;
    margin-top: 30px;
    color: rgba(83, 145, 88, 0.82)
}

.donate-steps{
    margin-top: 35px;
}

.donate-explanation {
    margin-top: 30px;
    margin-bottom: 50px;
}

/* social media icons */

.sm_buttons {
  display: inline-block;
  float: none;
  clear: none;
}

.fab {
    padding: 10px;
    font-size: 50px;
    width: 60px;
    text-align: center;
    text-decoration: none;
}

.fa-twitter-square {

    color: #55ACEE;
    background: white;
}

.fa-instagram-square {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

  -webkit-background-clip: text;
}

.fa-facebook-square {

    color: #1877f2;
    background: white;
}
/* turbine video on donate */
.donate-content {
    width: 76.5vw;
    height: 77vh;
    position: center;
    right: calc(-0vw + 0%);
}

.donate-content .text {
    color: #558846;
}

.donate-content .text h1 {
    margin-top: 1px;
    color: white;
   text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
   padding-top:1px;
   font-size: 70px;
   font-weight: 700;
   text-align: center;
   font-family: 'Source Sans Pro', sans-serif;
}
/* turbine video text */
.donate-content .description {
    font-size:30px;
    font-style: italic;
    margin-top: 10px;

}
/* admin page */

.admin-title {
    margin-top: 0px;
    margin-bottom: 10px;
}

.section-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitle {
    margin-top: 25px;
    margin-bottom: 70px;
}

.admin {
    margin-top: 40px;
    text-align: center;
}





