/* Align the tabs to the center of the page. */
.tab-container {
    align-self: center;
    margin-top: 15%;
}

/* Set up border for the tabs */
.tab-pane {
    border: 1px solid rgb(222, 226, 230);
    padding: 10px;
}

/* Remove animations for the tooltip. */
.tooltip.fade {
    transition: none;
}