#event-map {
    margin: 0;
    padding: 0;
    height: 50%;
    width: 50%;
}

.body-container, .content-block {
    height:100%;
    width:100%;
}

.content-block {
    display: flex;
}

/* Style infowindows */
.info-window {
    text-align: left;
    font-size: 1em;
}
.info-window .no-margin {
    margin-bottom: 0;
}

.info-window-head .no-margin strong {
    font-size: 1.75em;
}

.info-window-text-align-right {
    justify-content: right;
}