{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='rng.js') }}"></script>
    <h3 class="title is-3">Admin
    </h3>
    <h4 class="subtitle is-4">
        Welcome, {{ name }}
    </h4>

    <div class="column is-10 is-offset-1">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}


        <h4 class="title is-4">Registered Users</h4>
        <div class="box">
            {% if current_users %}
                <div class="field">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Role</th>
                        </tr>
                        {% for user in current_users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.phone }}</td>
                                <td>{{ user.role }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            <form method="POST" action="/view_all_users">
                <div>
                    <button class="button is-info is-centered">View All Users</button>
                </div>
            </form>
        </div>
    </div>

    <div class="column is-8 is-offset-2" id="test">
        <h4 class="title is-4">Security Logs</h4>
        <div class="box">
            {% if logs %}
                <div class="field">
                <table class="table">
                    <tr>
                        <th>Last 10 Security Log Entries</th>
                    </tr>
                    {% for entry in logs %}
                        <tr>
                            <td>{{ entry }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <form method="POST" action="/logs">
                <div>
                    <button class="button is-info is-centered">View Logs</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <div class="column is-10 is-offset-1">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <h4 class="title is-4">Challenges Joined by Users</h4>
        <div class="box">
            {% if joined_challenges %}
                <div class="field">
                    <table class="table">
                        <tr>
                            <th>Join ID</th>
                            <th>User Email</th>
                            <th>Challenge ID</th>
                            <th>Date Joined</th>
                        </tr>
                        {% for challenge in joined_challenges %}
                            <tr>
                                <td>{{ challenge.id }}</td>
                                <td>{{ challenge.user_email }}</td>
                                <td>{{ challenge.challenge_id }}</td>
                                <td>{{ challenge.date_joined.strftime('%d-%m-%Y') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            <form method="POST" action="/view_all_joined_challenges">
                <div>
                    <button class="button is-info is-centered">View All Joined Challenges</button>
                </div>
            </form>
        </div>


    <h4 class="title is-4">Donations</h4>
    <div class="box">
        {% if donations %}
            <div class="field">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Reason</th>
                        <th>Amount</th>
                        <th>Donated</th>
                        <th>Status</th>
                    </tr>
                    {% for donation in donations %}
                        <tr>
                            <td>{{ donation.id }}</td>
                            <td>{{ donation.email }}</td>
                            <td>{{ donation.reason }}</td>
                            <td>{{ donation.amount }}</td>
                            <td>{{ donation.donated }}</td>
                            <td>{{ donation.status }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        <form method="POST" action="/view_all_donations">
            <div>
                <button class="button is-info is-centered">View All Donations</button>
            </div>
        </form>
    </div>


{% endblock %}
