<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Greenify</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    {% endblock %}
</head>

<body>

<style>
    .table {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<section class="hero is-primary is-fullheight">

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('index') }}" class="navbar-item">
                            Home
                        </a>
                        <a href="{{ url_for('feed') }}" class="navbar-item">
                            Feed
                        </a>
                        <a href="{{ url_for('donate') }}" class="navbar-item">
                            Donate
                        </a>
                        <a href="{{ url_for('map') }}" class="navbar-item">
                            Map
                        </a>
                        <a href="{{ url_for('calculator') }}" class="navbar-item">
                            Carbon Footprint Calculator
                        </a>
                        <a href="{{ url_for('admin') }}" class="navbar-item">
                            Admin
                        </a>
                        <a href="{{ url_for('contact') }}" class="navbar-item">
                            Contact Us
                        </a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Account
                            </a>
                            <div class="navbar-dropdown">
                              <a href="{{ url_for('profile') }}" class="navbar-item">
                                Profile
                              </a>
                              <a href="{{ url_for('users.register') }}" class="navbar-item">
                                Register
                              </a>
                              <a href="{{ url_for('users.login') }}" class="navbar-item">
                                Login
                              </a>
                              <a href="{{ url_for('users.logout') }}" class="navbar-item">
                                Logout
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</section>
</body>

</html>