{% extends "base.html" %}


{% block content %}

     <style>

        .title{
            margin-bottom: 60px;
        }

        .field {
            margin-bottom: 15px;
        }

        .form-control {
            font-family: Arial, serif;
            border-radius: 10px;
            border: 1px solid #59886f;
            padding: 15px;
        }

        .error{
			color: #AB171DFF;
		}

        .btn{
            background-color: #59886f;
            border-color: #59886f;
        }

        .btn:hover{
            background-color: #71887f;
            border-color: #71887f;
        }

    </style>

    <div class="column is-5 is-offset-4">
        <h3 class="title is-3">Create Donation</h3>
        <div class="box">
            <form method="POST" enctype="multipart/form-data">
                <div class="field">
                    {{ form.csrf_token() }}
                    <div class="control">
                        {{ form.title(class="textarea form-control", placeholder="Title") }}
                        {% for error in form.title.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    {{ form.csrf_token() }}
                    <div class="control">
                        {{ form.reason(class="textarea form-control", placeholder="Reason") }}
                        {% for error in form.reason.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.amount(class="input form-control", placeholder="Amount") }}
                        {% for error in form.amount.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <br>
                        <p> Upload an image below to be presented on your post</p>
                        {{ form.image(class="form-control-file is-centered") }}
                        {% if form.image.errors %}
                            {% for error in form.image.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <br>
                    {{ form.submit(class="btn btn-primary d-grid gap-2 col-6 mx-auto", value = "Post Donation") }}
                </div>
            </form>
        </div>
    </div>
    <div >

{% endblock %}