{% extends "base.html" %}

{% block content %}

    <script src="https://cdn.ckeditor.com/4.10.0/basic/ckeditor.js"></script>

    <style>

        .title{
            margin-bottom: 15px;
        }

        .field {
            margin-bottom: 15px;
        }

        .form-control {
            font-family: Arial, serif;
            border-radius: 10px;
            border: 1px solid darkgrey;
            padding: 15px;

        }

        .error{
			color: #AB171DFF;
		}

        .btn{
            background-color: #59886f;
            border-color: #59886f;

        }

        .btn:hover{
            background-color: #71887f;
            border-color: #71887f;
        }

        .text-center {
            text-align: center;
        }

    </style>

    <div class="column is-6 is-offset-3">
        <h3 class="title is-3">Create Challenge</h3>
        <br>
        <br>
        <div class="box">
            <form method="POST">
                <div class="field">
                    {{ form.csrf_token() }}
                    <div class="control">
                        {{ form.title(class="input form-control", placeholder="Title") }}
                        {% for error in form.title.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="field">
                    <div class="control">
                        {{ form.body(class="textarea form-control", placeholder="Body") }}
                        {% for error in form.body.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div>
                    {{ form.submit(class="btn btn-primary d-grid gap-2 col-6 mx-auto") }}
                </div>
            </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        </div>
    </div>

{% endblock %}