{% extends "base.html" %}

{% block content %}

<style>
  body {
    font-family: sans-serif;
    background: moccasin;



  }

  /* Header/Blog Title */
  .card-title {
    padding: 20px;
    font-size: 35px;
      font-color: black;
    text-align: center;
  }

  /* Add a card effect for articles */
  .card {
    background-color: white;
    margin: 50px;
      font-size: 20px
  }

  .flex-container {
      display: flex;
      flex-wrap: wrap;
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {

  }
</style>

<div class="flex-container">
  {% for donation in donations %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ donation.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Amount: {{ donation.amount}} </h6>
      <h6 class="card-subtitle mb-2 text-muted">Donated: £{{ donation.donated }}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{ donation.created.strftime('%d-%m-%Y') }}</h6>
      
      <p class="card-text">{{ donation.reason }}</p>

      <form action="{{ url_for('donate.create_session', id=donation.id) }} " method="post">
        <div class="input-group mb-3">
          <span class="input-group-text">£</span>
          <input name="amount" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text">.00</span>
        </div>
        <input class="btn btn-primary" type="submit" value="Donate"></input>
    </form>
      
  </div>
  </div>
  {% endfor %}
</div>

{% endblock %}