{% extends "base.html" %}

<style>
body {
    ont-family: sans-serif;
    background: white;
}

/* Header/Title */
.card-title {
    padding: 20px;
    font-size: 35px;
    font-color: black;
    text-align: center;


}

/* Add a card effect for articles */
.card {
    background-color: white;
    margin: 50px;
    font-size: 20px;
    padding: 20px;
    text-align: center
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

</style>

{% block content %}

    <div class="section">
<div class="flex-container">
  {% for donation in donations %}
      <div class="card w-20" style="width: 20rem;">
    <img class="card-img-top" src="data:image/jpg;base64,{{ donation.image }}" alt="donation_img"  id="imgslot"/> </img>
    <div class="card-body">
      <h5 class="card-title">{{ donation.title}}</h5>
          <p>
      <h6 class="card-subtitle mb-2 text-muted">Goal: £{{ donation.amount}} </h6>
      <h6 class="card-subtitle mb-2 text-muted">Donated: £{{ donation.donated }}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{ donation.created.strftime('%d-%m-%Y') }}</h6>
      
      <p class="card-text">{{ donation.reason }}</p>
        <p class="card-text">{{ donation.status }}</p>

      <form action="{{ url_for('donate.create_session', id=donation.id) }} " method="post">
                <p> Please make your contribution below and help reach the goal indicated. </p>
        <div class="input-group mb-3">
          <span class="input-group-text">£</span>
          <input name="amount" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text">.00</span>
        </div>
          <input class="btn btn-primary" type="submit" value="Donate"/>
    </form>
      
  </div>
  </div>
  {% endfor %}
</div>
    </div>

{% endblock %}