{% extends "base.html" %}

{% block content %}

    <style>

        .title{
            margin-bottom: 15px;
        }

        .field {
            margin-bottom: 15px;
        }

        .form-control {
            font-family: Arial, serif;
            border-radius: 25px;
            border: 2px solid #59886f;
            padding: 15px;

        }

        .error{
			color: #AB171DFF;
		}

        .btn{
            background-color: #59886f;
            border-color: #59886f;

        }

        .btn:hover{
            background-color: #71887f;
            border-color: #71887f;
        }

        .text-center {
            text-align: center;
        }

        .g-recaptcha {
            display: inline-block;
        }



    </style>

    <div class="column is-4 is-offset-4">
        <h3 class="title">Login</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            {% if not session['logins'] or session['logins'] < 6 %}
                <form method="POST">
                    <div class="field">
                        {{ form.csrf_token() }}
                        <div class="control">
                            {{ form.email(class="form-control", placeholder="Email") }}
                            <div class="error">
                                {% for error in form.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.password(class="form-control", placeholder="Password") }}
                            <div class="error">
                                {% for error in form.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if session['logins'] > 2 %}
                        <div>
                            {{ form.recaptcha }}
                            {% for error in form.recaptcha.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div>
                        {{ form.submit(class="btn btn-lg btn-primary") }}
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}