{% extends "base.html" %}

{% block content %}

    <style>
        body {
            padding: 20px;
        }

        .header {
            padding: 30px;
            font-size: 40px;
            text-align: center;
        }

        /* Add a card effect for posts */
        .card {
            padding: 20px;
            margin-top: 20px;
            background-color: #eeeeee;
            border-color: #eeeeee;
        }

        .card-title {
            margin-bottom: 20px;
            text-align: left;
        }

        .card-subtitle {
            color: #727272;
            text-align: left;
        }

        .card-text{
            text-align: justify;
        }

    </style>

    <div class="container">
        <h1 class="title is-1 header">POSTS</h1>
        <div class="card">
            {% for post in posts %}
                <div class="card-body">
                    <h5 class="card-subtitle mb-2 text-muted">{{ post.created.strftime("%d %B, %Y") }}</h5>
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.body }}</p>
                    {% if post.username == current_user.username %}
                        <div class="d-grid gap-2 col-6 mx-auto btn-group" role="group" aria-label="Basic outlined example">
                            <a type="button" class="btn btn-outline-primary" href="{{ url_for('posts.update', id=post.id) }}" role="button">Update</a>
                            <a type="button" class="btn btn-outline-danger" href="{{ url_for('posts.delete', id=post.id) }}" role="button">Delete</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}