{% extends "base.html" %}

{% block content %}

    <style>
        body {
            padding: 20px;
        }

        .header {
            padding: 15px;
            font-size: 40px;
            text-align: center;
        }

        /* Card effect for challenges */
        .card {
            font-family: Arial, serif;
            padding: 20px;
            margin-top: 20px;
            background-color: white;
            border-color: white;
        }

        .card-subtitle {
            color: #727272;
            text-align: left;
        }

    </style>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="container">
        <h2 class="title is-1 header">{{ post.title }}</h2>
        <hr>
        <h5 class="card-subtitle mb-2 text-muted text-center">{{ post.created.strftime("%d %B, %Y") }}</h5>
        <div class="card mb-5">
            <div class="card-body text-start">
                <p class="text-start">{{ post.body | safe }}</p>
            </div>
        </div>
        {% if post.username == current_user.username %}
            <div class="d-grid gap-2 d-md-block" role="group" aria-label="Basic outlined example">
                {% if current_user.is_authenticated %}
                    <a type="button" class="btn btn-outline-primary btn-rounded me-md-2" href="{{ url_for('posts.posts') }}" role="button">Back to Posts</a>
                {% endif %}
                <a type="button" class="btn btn-outline-success btn-rounded me-md-2" href="{{ url_for('posts.update', id=post.id) }}" role="button">Update</a>
                <a type="button" class="btn btn-outline-danger btn-rounded" href="{{ url_for('posts.delete', id=post.id) }}" role="button">Delete</a>
            </div>
        {% endif %}
    </div>

{% endblock %}