{% extends "base.html" %}

{% block content %}

    <h1 class="title">Welcome, {{ name }}</h1>

    <div class="column is-6 is-offset-3">
        <h3 class="title">Your Account</h3>
        <div class="box">
            <table class="table">
            <tbody>
                <tr>
                    <th>User ID</th>
                    <th>{{ id }}</th>
                </tr>
                <tr>
                    <th>Email</th>
                    <th>{{ email }}</th>
                </tr>
                <tr>
                    <th>First Name</th>
                    <th>{{ firstname }}</th>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <th>{{ lastname }}</th>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <th>{{ phone }}</th>
                </tr>
            </tbody>
            </table>
        </div>
    </div>

    <h4 class="title is-4">Challenges Joined</h4>
        <div class="box">
            {% if joined_challenges %}
                <div class="field">
                    <table class="table">
                        <tr>
                            <th>Join ID</th>
                            <th>User Email</th>
                            <th>Challenge ID</th>
                            <th>Date Joined</th>
                        </tr>
                        {% for challenge in joined_challenges %}
                            <tr>
                                <td>{{ challenge.id }}</td>
                                <td>{{ challenge.user_email }}</td>
                                <td>{{ challenge.challenge_id }}</td>
                                <td>{{ challenge.date_joined.strftime('%d-%m-%Y') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            <form method="POST" action="/view_joined_challenges">
                <div>
                    <button class="button is-info is-centered">View Challenges Joined</button>
                </div>
            </form>
        </div>

{% endblock %}