{% extends "base.html" %}

{% block content %}

    <div class="column is-6 is-offset-3">
        <h3 class="title is-3">Donation</h3>
        <div class="box">
            <form method="POST">
                <div class="field">
                    {{ form.csrf_token() }}
                    <div class="control">
                        {{ form.title(class="input") }}
                        {% for error in form.title.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control" >
                        {{ form.body(class="textarea") }}
                        {% for error in form.body.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div>
                    {{ form.submit(class="button is-info is-centered") }}
                </div>
            </form>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            <br>
            <a type="button" class="btn btn-outline-primary btn-rounded d-grid gap-2 col-6 mx-auto" href="{{ url_for('donations.donations') }}" role="button">Back to Donate</a>
        </div>
    </div>

{% endblock %}